.container {
    display: flex;
    width: 100%;
}
.left_container {
    width: 40%;
    display: flex;
    justify-content: center;
}
.right_container {
    width: 60%;
}
.divider_line {
    border-right: 1px solid #e0e0e0;
    margin: 4px 20px;
    border-radius: 2px;
}
.profile_picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0px 0px 12px 0px;
}
.sub_container {
    display: flex;
    margin-top: 8px;
}
.label {
    color: gray;
    min-width: 40%;
    display: flex;
    justify-content: center;
}
.colon {
    min-width: 10%;
    color: gray;
}
.value {
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.bottom_border {
    border-bottom: 1px solid #e0e0e0;
    margin: 12px 0px;
}
.map_container {
    margin-top: 12px;
}
.coordinates {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
.coordinates_label {
    color: gray;
    font-size: 12px;
}
.coordinates_value {
    font-size: 12px;
    margin-left: 2px;
}
.gap {
    width: 12px;
}
.map_style {
    display: flex;
    justify-content: flex-end;
}
