.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}
.sub_container {
    display: flex;
    width: 94%;
    height: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    background: #4831cc;
    border-radius: 12px;
    width: 18%;
    margin-right: 24px;
    min-height: 80vh;
}
.right_side_container {
    width: 100%;
    margin-left: 24px;
    position: relative;
}
.header_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.picture {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.popover {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.hr {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 4px;
    margin-bottom: 30px;
}
.bottom_border {
    border-bottom: 1px solid #e0e0e0;
    margin: 12px 0px;
    width: 100px;
}
.text {
    color: grey;
    cursor: pointer;
}
.active_text {
    color: #fff;
    cursor: pointer;
}
.active_accordian_style {
    max-height: 430px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.accordian_style {
    max-height: 36px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}
.user_chats {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 260px;
    width: 100%;
    bottom: 0px;
}
